header ~div>h2, header~h2, header~h3, header~h3 {
    background-color: #203a73;
    color: #eeeeee;
    padding: 10px;
    border-radius: 5px;
}
header {position: fixed;
        top: 0px;
        left: 0px;
        padding: 0px;
        margin: 0px;
        width: 100%;
        border-radius:0px;
        z-index: 100;
}
header + div {margin-top: 100px;
}


div.number9 {line-height: 1.5em;
    text-align: left
}

figure>figcaption {
    font-style: normal;
}
td.cell {background-color: #192c4d;
        color: white
}

blockquote:first-letter{font-size: 200%;
}

blockquote {border: 3px inset #0088dd;
            font-size: 2em;
            color:black;
            font-family:"Blackadder ITC", Georgia, serif;
            padding:2px 7px 2px 7px;
            margin-right: 0px;
            text-align: right;
            box-shadow: 7px 7px 5px #888888;
            float: left;
}
footer {text-align: center;
        text-shadow: 1px 2px 4px #737978;
}
h2 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3b/Background-image.jpg");
 	background-repeat: repeat-x;
  text-shadow: 7px 5px 5px #888888;
}
.listheading {color:#1F213F;
}

/* New css danlohr.com */

.images {padding: 5px 10px 2px 2px;
        border-radius: 15px;
        float:left;
}

.welcome {padding-top: 20px;
}

iframe {padding-top: 20px;
}

body {
    background-color:  #cccccc;
}

p, dd, li {color: black;
}

#welcome2 {padding-bottom: 13px;
}

header>p {color: white}

html, body, #map {
        height: 100%;
        margin: 0;
        padding: 7px;
        float: center;
      }
#donate {padding: 5px;
}

#venmo {color: navy;
}
